<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,174},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>2_town.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,174},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>3_trainer.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>4_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,174},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>5_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,174},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{699,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,170}}</string>
                <key>sourceSize</key>
                <string>{699,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{875,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02aa91bca8290584ef495e055091d1de:7d8c40a506cfe93260e69b12c7bf4631:474a9a58f742d06d2866a4a6eac25590$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
