<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,104},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>2_town.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,104},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>3_trainer.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,104},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>4_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,104},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>5_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,104},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>open3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{621,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,100}}</string>
                <key>sourceSize</key>
                <string>{621,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{999,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3071860e4ca0fc9097307baa9bd5d471:11796c3ccb427a182783b173898e3ff6:474a9a58f742d06d2866a4a6eac25590$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
